// _variables-vanillia.scss
$primary-vanillia:         #111827;
$secondary-vanillia:       #ffefd8;

// Define additional custom variables as needed
$primary-text-emphasis-vanillia: $primary-vanillia !default;
$secondary-text-emphasis-vanillia: tint-color($secondary-vanillia, 40%) !default;
$success-text-emphasis-vanillia: tint-color($success, 40%) !default;
$info-text-emphasis-vanillia: tint-color($info, 40%) !default;
$warning-text-emphasis-vanillia: tint-color($warning, 40%) !default;
$danger-text-emphasis-vanillia: tint-color($danger, 40%) !default;
$light-text-emphasis-vanillia: $gray-100 !default;
$dark-text-emphasis-vanillia: $gray-300 !default;

// Define background and border variables as needed
$primary-bg-subtle-vanillia: $primary-vanillia !default;
$secondary-bg-subtle-vanillia: shade-color($secondary-vanillia, 80%) !default;
$success-bg-subtle-vanillia: shade-color($success, 80%) !default;
$info-bg-subtle-vanillia: shade-color($info, 80%) !default;
$warning-bg-subtle-vanillia: shade-color($warning, 80%) !default;
$danger-bg-subtle-vanillia: shade-color($danger, 80%) !default;
$light-bg-subtle-vanillia: $gray-800 !default;
$dark-bg-subtle-vanillia: #3182ce !default;

$primary-border-subtle-vanillia: $primary-vanillia !default;
$secondary-border-subtle-vanillia: shade-color($secondary-vanillia, 40%) !default;
$success-border-subtle-vanillia: shade-color($success, 40%) !default;
$info-border-subtle-vanillia: shade-color($info, 40%) !default;
$warning-border-subtle-vanillia: shade-color($warning, 40%) !default;
$danger-border-subtle-vanillia: shade-color($danger, 40%) !default;
$light-border-subtle-vanillia: $gray-700 !default;
$dark-border-subtle-vanillia: $gray-800 !default;


$body-color-vanillia:                   #111827 !default;
$body-bg-vanillia:                      #ffefd8 !default;
$body-secondary-color-vanillia:         rgba($body-color-vanillia, .75) !default;
$body-secondary-bg-vanillia:            #A68C9C !default;
$body-tertiary-color-vanillia:          rgba($body-color-vanillia, .5) !default;
$body-tertiary-bg-vanillia:             #374151 !default;
$body-emphasis-color-vanillia:          $white !default;
$border-color-vanillia:                 $gray-700 !default;
$border-color-translucent-vanillia:     rgba($white, .15) !default;
$headings-color-vanillia:               inherit !default;
$link-color-vanillia:                   tint-color($primary, 40%) !default;
$link-hover-color-vanillia:             shift-color($link-color-vanillia, -$link-shade-percentage) !default;
$code-color-vanillia:                   tint-color($code-color, 40%) !default;
$mark-color-vanillia:                   $body-color-vanillia !default;
$mark-bg-vanillia:                      $yellow-800 !default;


// // Navbar

$navbar-link-color-vanillia: rgba($white, .65) !default;
$navbar-link-hover-color-vanillia: rgba($white, .8) !default;
$navbar-link-active-color-vanillia: $white !default;

$accordion-border-color: $body-color-vanillia !default;