@import '../../node_modules/bootstrap/scss/bootstrap';
@import "./variables-dark-blue";
@import "./variables-vanilla";


[data-bs-theme="dark-blue"] {
    --bs-body-color: #{$body-color-dark-blue};
    --bs-body-color-rgb: #{to-rgb($body-color-dark-blue)};
    --bs-body-bg: #{$body-bg-dark-blue};
    --bs-body-bg-rgb: #{to-rgb($body-bg-dark-blue)};
    --bs-secondary-color: #{$body-secondary-color-dark-blue};
    --bs-secondary-color-rgb: #{to-rgb($body-secondary-color-dark-blue)};
    --bs-secondary-bg: #{$body-secondary-bg-dark-blue};
    --bs-secondary-bg-rgb: #{to-rgb($body-secondary-bg-dark-blue)};
    --bs-tertiary-bg: #{$body-tertiary-bg-dark-blue};
    --bs-tertiary-bg-rgb: #{to-rgb($body-tertiary-bg-dark-blue)};

    // Text Emphasis
    --bs-primary-text-emphasis: #{$primary-text-emphasis-dark-blue};
    --bs-secondary-text-emphasis: #{$secondary-text-emphasis-dark-blue};
    --bs-success-text-emphasis: #{$success-text-emphasis-dark-blue};
    --bs-info-text-emphasis: #{$info-text-emphasis-dark-blue};
    --bs-warning-text-emphasis: #{$warning-text-emphasis-dark-blue};
    --bs-danger-text-emphasis: #{$danger-text-emphasis-dark-blue};
    --bs-light-text-emphasis: #{$light-text-emphasis-dark-blue};
    --bs-dark-text-emphasis: #{$dark-text-emphasis-dark-blue};

    --bs-primary-bg-subtle: #{$primary-bg-subtle-dark-blue};
    --bs-secondary-bg-subtle: #{$secondary-bg-subtle-dark-blue};
    --bs-success-bg-subtle: #{$success-bg-subtle-dark-blue};
    --bs-info-bg-subtle: #{$info-bg-subtle-dark-blue};
    --bs-warning-bg-subtle: #{$warning-bg-subtle-dark-blue};
    --bs-danger-bg-subtle: #{$danger-bg-subtle-dark-blue};
    --bs-light-bg-subtle: #{$light-bg-subtle-dark-blue};
    --bs-dark-bg-subtle: #{$dark-bg-subtle-dark-blue};

    --bs-primary-border-subtle: #{$primary-border-subtle-dark-blue};
    --bs-secondary-border-subtle: #{$secondary-border-subtle-dark-blue};
    --bs-success-border-subtle: #{$success-border-subtle-dark-blue};
    --bs-info-border-subtle: #{$info-border-subtle-dark-blue};
    --bs-warning-border-subtle: #{$warning-border-subtle-dark-blue};
    --bs-danger-border-subtle: #{$danger-border-subtle-dark-blue};
    --bs-light-border-subtle: #{$light-border-subtle-dark-blue};
    --bs-dark-border-subtle: #{$dark-border-subtle-dark-blue};


    // Navigation links
    --bs-navbar-link-color: #{$navbar-link-color-dark-blue};
    --bs-navbar-link-hover-color: #{$navbar-link-hover-color-dark-blue};
    --bs-navbar-link-active-color: #{$navbar-link-active-color-dark-blue};

    .navbar-toggler-icon {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-nav .nav-link {
        color: var(--bs-navbar-link-color);

        &:hover,
        &:focus {
            color: var(--bs-navbar-link-hover-color);
        }

        &.active {
            color: var(--bs-navbar-link-active-color);
        }
    }


    .btn-primary {
        --bs-btn-color: #{$body-bg-dark-blue};
        --bs-btn-bg: #{$primary-dark-blue};
        --bs-btn-border-color: #{$primary-dark-blue};
        --bs-btn-hover-color: #{$body-bg-dark-blue};
        --bs-btn-hover-bg: #{rgba($primary-dark-blue, .95)};
        --bs-btn-hover-border-color: #{$body-bg-dark-blue};
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #{$body-bg-dark-blue};
        --bs-btn-active-bg: #{rgba($primary-dark-blue, .8)};
        --bs-btn-active-border-color: #{$body-bg-dark-blue};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #{$body-bg-dark-blue};
        --bs-btn-disabled-bg: #{rgba($primary-dark-blue, .9)};
        --bs-btn-disabled-border-color: #{$primary-dark-blue};
    }

    .accordion {
        --bs-accordion-active-color: #{$body-bg-dark-blue};
    }



    .form-switch {

        .form-check-input {
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
            width: 2em;
            margin-left: -2.5em;
            background-image: var(--bs-form-switch-bg);
            background-position: left center;
            border-radius: 2em;
            transition: background-position 0.15s ease-in-out;


        }

        @media (prefers-reduced-motion: reduce) {
            .form-check-input {
                transition: none;
            }
        }

        .form-check-input:focus {
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
            background-color: #0b0a19;
        }

        .form-check-input:checked {
            background-position: right center;
            background-color: #ffefd8;
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
        }

        .form-check-reverse {
            padding-right: 2.5em;
            padding-left: 0;
        }

        .form-check-reverse .form-check-input {
            margin-right: -2.5em;
            margin-left: 0;
        }

    }
}



[data-bs-theme="vanilla"] {
    --bs-body-color: #{$body-color-vanilla};
    --bs-body-color-rgb: #{to-rgb($body-color-vanilla)};
    --bs-body-bg: #{$body-bg-vanilla};
    --bs-body-bg-rgb: #{to-rgb($body-bg-vanilla)};
    --bs-secondary-color: #{$body-secondary-color-vanilla};
    --bs-secondary-color-rgb: #{to-rgb($body-secondary-color-vanilla)};
    --bs-secondary-bg: #{$body-secondary-bg-vanilla};
    --bs-secondary-bg-rgb: #{to-rgb($body-secondary-bg-vanilla)};
    --bs-tertiary-bg: #{$body-tertiary-bg-vanilla};
    --bs-tertiary-bg-rgb: #{to-rgb($body-tertiary-bg-vanilla)};

    // Text Emphasis
    --bs-primary-text-emphasis: #{$primary-text-emphasis-vanilla};
    --bs-secondary-text-emphasis: #{$secondary-text-emphasis-vanilla};
    --bs-success-text-emphasis: #{$success-text-emphasis-vanilla};
    --bs-info-text-emphasis: #{$info-text-emphasis-vanilla};
    --bs-warning-text-emphasis: #{$warning-text-emphasis-vanilla};
    --bs-danger-text-emphasis: #{$danger-text-emphasis-vanilla};
    --bs-light-text-emphasis: #{$light-text-emphasis-vanilla};
    --bs-dark-text-emphasis: #{$dark-text-emphasis-vanilla};

    --bs-primary-bg-subtle: #{$primary-bg-subtle-vanilla};
    --bs-secondary-bg-subtle: #{$secondary-bg-subtle-vanilla};
    --bs-success-bg-subtle: #{$success-bg-subtle-vanilla};
    --bs-info-bg-subtle: #{$info-bg-subtle-vanilla};
    --bs-warning-bg-subtle: #{$warning-bg-subtle-vanilla};
    --bs-danger-bg-subtle: #{$danger-bg-subtle-vanilla};
    --bs-light-bg-subtle: #{$light-bg-subtle-vanilla};
    --bs-dark-bg-subtle: #{$dark-bg-subtle-vanilla};

    --bs-primary-border-subtle: #{$primary-border-subtle-vanilla};
    --bs-secondary-border-subtle: #{$secondary-border-subtle-vanilla};
    --bs-success-border-subtle: #{$success-border-subtle-vanilla};
    --bs-info-border-subtle: #{$info-border-subtle-vanilla};
    --bs-warning-border-subtle: #{$warning-border-subtle-vanilla};
    --bs-danger-border-subtle: #{$danger-border-subtle-vanilla};
    --bs-light-border-subtle: #{$light-border-subtle-vanilla};
    --bs-dark-border-subtle: #{$dark-border-subtle-vanilla};


    // Navigation links
    --bs-navbar-link-color: #{$navbar-link-color-vanilla};
    --bs-navbar-link-hover-color: #{$navbar-link-hover-color-vanilla};
    --bs-navbar-link-active-color: #{$navbar-link-active-color-vanilla};

    .navbar-toggler-icon {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-nav .nav-link {
        color: var(--bs-navbar-link-color);

        &:hover,
        &:focus {
            color: var(--bs-navbar-link-hover-color);
        }

        &.active {
            color: var(--bs-navbar-link-active-color);
        }
    }


    .btn-primary {
        --bs-btn-color: #{$body-bg-vanilla};
        --bs-btn-bg: #{$primary-vanilla};
        --bs-btn-border-color: #{$primary-vanilla};
        --bs-btn-hover-color: #{$body-bg-vanilla};
        --bs-btn-hover-bg: #{rgba($primary-vanilla, .95)};
        --bs-btn-hover-border-color: #{$body-bg-vanilla};
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #{$body-bg-vanilla};
        --bs-btn-active-bg: #{rgba($primary-vanilla, .8)};
        --bs-btn-active-border-color: #{$body-bg-vanilla};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #{$body-bg-vanilla};
        --bs-btn-disabled-bg: #{rgba($primary-vanilla, .9)};
        --bs-btn-disabled-border-color: #{$primary-vanilla};
    }

    .accordion {
        --bs-accordion-active-color: #{$body-bg-vanilla};
    }

    .form-switch {

        .form-check-input {
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
            width: 2em;
            margin-left: -2.5em;
            background-image: var(--bs-form-switch-bg);
            background-position: left center;
            border-radius: 2em;
            transition: background-position 0.15s ease-in-out;


        }

        @media (prefers-reduced-motion: reduce) {
            .form-check-input {
                transition: none;
            }
        }

        .form-check-input:focus {
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
            background-color: #0b0a19;
        }

        .form-check-input:checked {
            background-position: right center;
            background-color: #ffefd8;
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
        }

        .form-check-reverse {
            padding-right: 2.5em;
            padding-left: 0;
        }

        .form-check-reverse .form-check-input {
            margin-right: -2.5em;
            margin-left: 0;
        }

    }


}