@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    font-family: "Share Tech", sans-serif;
}

body {
    height: auto;
    min-height: 100vh;
}

main {
    min-height: 92vh;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

footer {
    height: 3vh;
}

nav {
    height: 5vh;
}

.social-media-icon {
    width: 2.5rem;
    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        transform: scale(1.1);
    }
}