/* Styling for the background container of the HomePage*/
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

/* Container set to match the <main> element's dimensions
because of the background being absolutely positioned */
.content_overlay {
  position: relative;
  padding-top: 5vh;
  padding-bottom: 3vh;
  height: 100%;
  z-index: 1;
}


/* Styling for the background circle for the image on the HomePage */
.content_overlay .image_background {
  width: min(20rem, 60vw);
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(43,48,53,0.5)
}


/* Styling for the image on the HomePage */
.image_background .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}